*{
 font-family: 'Cabin', sans-serif;
}


body{
    background-color: #E5E5E5;
    width: 100%;
    height: 1000px;

}

header{
    display: flex;
    width: 100%;
    height: 200px;
    align-items: center;
    
}
.logo{
    margin-left:40px; 
}

header p{
    margin: auto;
    font-size: 40px;
    color: midnightblue;
}   

main{
    display: inline-flex;
    width: 100%;
    height: 400px;
   
}

.ingresarTexto,.mostrarTexto{
    width: 45%;
       
}

.input-texto, .mensaje{
    width: 80%;
    height: 300px;
    margin-left: 120px;
    border-radius: 5px;
    border: 2px solid midnightblue;

}

.mensaje{
    background: url(imagenes/1.jpg) center center no-repeat;
    background-color: white;
}


.contenedor-principal, .contenedor-copiar{
    margin-top: 30px;
    margin-left: 140px;
    display: inline;
  
}

.decoder{
    width: 180px;
    height: 40px;
    margin: 20px;
    font-size: 20px;
    border-radius: 20px;
    color: white;
    background: midnightblue;
    border-color: midnightblue;
}

@media screen and (max-width:480px){

header{
   display: inline;
}

header p{
    font-size: 40px;
    margin: 5px 0 20px 20px;
}

.logo{
    scale: 0.8;

}
main{
    display:block;
   
}
.ingresarTexto,.mostrarTexto{
    width: 80%; 
       
}

.input-texto, .mensaje{
     font-size: 40px;
}

.contenedor-principal, .contenedor-copiar{
  display: block;
  
  
}
.decoder{
    width: 200px;
    height: 60px;
    font-size: 30px;
   
}
   

  
}